PassengerAppRoot /home/u607968802/domains/navajowhite-wombat-404442.hostingersite.com/hbuilds/current/nodejs
PassengerAppType node
PassengerNodejs /opt/alt/alt-nodejs18/root/bin/node
PassengerStartupFile server/server.js
PassengerBaseURI /
PassengerRestartDir /home/u607968802/domains/navajowhite-wombat-404442.hostingersite.com/hbuilds/current/nodejs/tmp
SetEnv NODE_OPTIONS "--require /home/u607968802/domains/navajowhite-wombat-404442.hostingersite.com/hbuilds/config/preload-timestamp.js"
SetEnv LSNODE_CONSOLE_LOG console.log
RewriteRule ^\.builds - [F,L]

Header set X-Content-Type-Options "nosniff"
Header set X-Frame-Options "SAMEORIGIN"
Header set X-XSS-Protection "1; mode=block"
Header set Referrer-Policy "strict-origin-when-cross-origin"

Options -Indexes
